<br>
<h1>RULES:</h1>
<br>
<p>1. PARTICIPANTS MUST FOLLOW THE GIVEN SCHEDULE THE TOURNAMENT FIXTURES WILL BE GIVEN TO PARTICIPANTS BY THE ORGANIZERS.</p>
<p><br />2. PARTICIPANTS SHOULD NOT USE FORCE OUTSIDE THE GAME TO INFLUENCE THE OUTCOME.</p>
<p><br />3. SEVERE PUNISHMNETS SUCH AS DISQUALIFICATION WILL BE IMPOSED AND WILL ALSO BE BANNED FROM FURTHER TOURNAMENTS ORGANIZED BY THE COMMITTEE.</p>
<p><br />4. ALL DISPUTES WILL BE SOLVED BY THE ORGANIZERS AND THEIR DECISION WILL BE FINAL.</p>